@media screen and (min-width: 480px) {
    body {
      background-color: lightgreen;
    }
  }
*{
    font-family: 'IM Fell Great Primer', serif;
    font-size: large;
}
body{
    margin: 0;
    font-family: 'Jomhuria', cursive;
    font-size: x-large;
    background-color: white;
}

.navcontainer{
    width: 90%;
    margin:0;
}

header{
    background-color: rgb(52, 72, 73);    
    position: fixed; 
    width: 100%;
}

header::after{
    content: "";
    display: table;
    clear: both;
}

nav{
    float: right;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
nav li{
    display: inline-block;
    margin-left: 150px;
    margin-top: 24px;
}
nav a{
     color: #00ffff;
     text-decoration: none;
     text-transform: uppercase;
}
nav a:hover{
    color: purple;
}
.logo{
    float: left;
    width: 120px;
    height: 50px;
    padding-top: 10px;
}


.home{
    background-image: url(./Assets/purplebg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
    height: 600px;
    text-align: left;
    /* margin: 0 3%; */
}
.home h2{
    color: white;
}

.social{
    margin-top: 15%;
    height: 35%;
    font-size: x-large;
    
}

.social p{
    color: #00ffff;
    margin-left: 20px;
}

.social ul{
    list-style: none;
}
.social li{
    margin-top: 25px
}

.hometxt{
    margin-top: 20%;
    margin-left: 5%;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: #00ffff;
}
.kev{
    height: 95%;
    margin-left: 25%;
}

.projectscontainer{
    background-color: whitesmoke;
    background-repeat: no-repeat;
    background-size: cover;
    /* margin: 0 2%; */
}
.projects{
    display: flex;
    background-image: url(./Assets/purpleback.jpeg);
    padding-top: 0;
    
}
.projectscontainer h2{
    text-align: center;
    font-family: 'IM Fell Great Primer', serif;
     

}


.project1, .project2{
    width: 40%;
    height: fit-content;
    box-shadow: 0px 2px 10px 2px gray;
    margin-left: 5%; 
    margin-top:10%;
    text-align: center;
    font-family: 'IM Fell Great Primer', serif;
    color: wheat;
    font-size: larger; 
}
a{
    color:blue ;
}

.aboutcontainer{
    padding: 0;
}
.about{
    display: flex;
    background-image: url(./Assets/purplebg.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}
.about p{
    margin-top: 10px;
    width: 60%;
    margin-left: 100px;
    margin-top: 80px;
    color: wheat;
    box-shadow: 0px 2px 10px 2px gray;
    text-align: center;
    font-family: 'IM Fell Great Primer', serif;
    color: white;
    font-size: larger; 

}
.container h2{
    text-align: center;
}

.about img{
    height:350px;
    width: 400px;
    margin-left: 150px;
    margin-top: 6%;
}

/* footer styling */
.footer{
    background-color: rgb(52, 72, 73);
    padding-top: 20px;
    padding-bottom: 10px;
}
.footer p{
text-align: center;
font-size:large;
font-family: Georgia, 'Times New Roman', Times, serif;
}

